<template>
	<label for="new-project-modal" class="btn modal-button">New Project</label>

	<input v-model="modalOpen" type="checkbox" id="new-project-modal" class="modal-toggle" />
	<div class="modal">
		<div class="modal-box relative">
			<form @submit.prevent="createProject">
				<label for="new-project-modal" class="btn btn-sm btn-circle absolute right-2 top-2">X</label>
				<h3 class="text-lg font-bold">Create a new Project</h3>
				<input
					type="text"
					v-model="projectName"
					placeholder="Project name"
					class="input input-bordered w-full max-w-xs"
				/>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	inject: ['$call'],
	data() {
		return {
			projectName: '',
			modalOpen: false,
		};
	},

	methods: {
		async createProject() {
			if (!this.projectName) {
				return;
			}
			await this.$call('collaborative.api.create_new_project', {
				name: this.projectName,
			});
			this.modalOpen = false;
			this.projectName = '',
			this.$parent.updateProjectList();
		},
	},
};
</script>
