<template>
	<label for="new-task-modal" class="btn modal-button fixed z-90 bottom-10 right-8 w-20 h-20 rounded-full
	text-indigo-500"
		>+ Task</label
	>

	<input v-model="modalOpen" type="checkbox" id="new-task-modal" class="modal-toggle" />
	<div class="modal">
		<div class="modal-box relative">
			<form @submit.prevent="createProject">
				<label for="new-task-modal" class="btn btn-sm btn-circle absolute right-2 top-2">X</label>
				<h3 class="text-lg font-bold">Create a new Task</h3>
				<input
					type="text"
					v-model="taskDescription"
					placeholder="Task Description"
					class="input input-bordered w-full max-w-xs"
				/>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	inject: ['$call'],
	props: ['project_id'],
	data() {
		return {
			taskDescription: '',
			modalOpen: false,
		};
	},

	methods: {
		async createProject() {
			if (!this.taskDescription) {
				return;
			}
			const newTask = await this.$call('collaborative.api.create_new_task', {
				project_id: this.project_id,
				description: this.taskDescription,
			});
			this.$parent.addTask(newTask);
			this.modalOpen = false;
			this.taskDescription = '';
		},
	},
};
</script>
