<template>
	<div class="bg-base-200 p-5">
		<h4 class="p-5">{{ project_id }}</h4>
		<div class="tabs border-b-2 border-indigo-500">
			<a
				v-for="(tab_label, tab_id) in tabs"
				class="tab"
				:class="{ 'tab-active': active_tab == tab_id }"
				@click="active_tab = tab_id"
			>
				{{ tab_label }}
			</a>
		</div>
		<ProjectPeople v-if="active_tab == 'people'" :project_id="project_id" />
		<Tasks v-if="active_tab == 'tasks'" :project_id="project_id" />
		<AboutProject v-if="active_tab == 'about'" :project_id="project_id" />
	</div>
</template>

<script>
import ProjectPeople from './ProjectPeople.vue';
import Tasks from './Tasks.vue';
import AboutProject from './AboutProject.vue';

export default {
	props: ['project_id'],
	components: {
		ProjectPeople,
		Tasks,
		AboutProject,
	},
	data() {
		return {
			active_tab: 'tasks',
			tabs: {
				tasks: 'Tasks',
				about: 'About',
				people: 'People',
			},
		};
	},
};
</script>
