<template>
	<div class="bg-base-200 justify-center">
		<div v-for="teammate in projectInfo[project_id]?.team_members" class="w-full flex cursor-pointer">
			<div class="flex flex-row w-full bg-base-200">
				<div class="avatar m-2 align-start">
					<div class="rounded-full w-10 h-10">
						<img :src="teammate.image" />
					</div>
				</div>
				<h2 class="p-2 flex-1">{{ teammate.fullname }}</h2>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: ['project_id'],
	inject: ['$call'],

	data() {
		return {
			projectInfo: {},
		};
	},

	mounted() {
		this.fetchProjectData();
	},

	methods: {
		async fetchProjectData() {
			this.projectInfo = await this.$call('collaborative.api.get_projects_info');
		},
	},
};
</script>
