<template>
	<div v-for="(task, task_name) in $store.projects[project_id]" class="flex w-full p-2 items-center">
		<input type="checkbox" v-model="task.completed" class="checkbox" />
		<div class="divider divider-horizontal"></div>
		<input type="text" v-model="task.description" class="input w-full" />
		<div class="divider divider-horizontal"></div>
		<select v-model="task.assigned_user" class="select select-bordered w-1/5 max-w-xs">
			<template v-for="member in projectTeam">
				<option :value="member">{{ member }}</option>
			</template>
		</select>
		<div class="divider divider-horizontal"></div>
		<input type="date" placeholder="Due Date" v-model="task.due_date" class="input w-1/5 max-w-xs" />
	</div>
	<div v-if="showSuccessAlert" class="alert alert-success shadow-lg">
		<span>Changes synced.</span>
	</div>
	<NewTask :project_id="project_id" />
</template>

<script>
import NewTask from '../components/NewTask.vue';

export default {
	inject: ['$store', '$call'],
	props: ['project_id'],

	components: {
		NewTask,
	},

	beforeUpdate() {
		this.fetchProjectData();
	},

	mounted() {
		this.fetchProjectData();
		document.addEventListener('keydown', this.triggerSave);
	},

	data() {
		return {
			projectTeam: [],
			showSuccessAlert: false,
		};
	},

	beforeDestroy() {
		document.removeEventListener('keydown', this.triggerSave);
	},

	methods: {
		triggerSave(e) {
			// 83 = 's' so ctrl+s or cmd+s.
			if (e.keyCode === 83 && (e.ctrlKey || e.metaKey)) {
				this.updateAllTasks();
				e.preventDefault(); // override browser's native save
				this.showSuccessAlert = true,
				setTimeout(() => {this.showSuccessAlert = false}, 1000);
			}
		},

		async fetchProjectData() {
			if (this.$store.projects[this.project_id]) return;

			const tasks = await this.$call('frappe.client.get_list', {
				doctype: 'Collaborative Task',
				fields: ['name', 'assigned_user', 'description', 'due_date', 'completed'],
				filters: { project: this.project_id },
				limit_page_length: 1000,
			});
			tasks.forEach((task) => {
				task.completed = Boolean(task.completed);
				let project = this.$store.projects[this.project_id];
				if (!project) {
					// init if empty
					this.$store.projects[this.project_id] = {};
					project = this.$store.projects[this.project_id];
				}
				project[task.name] = task;
			});

			const users = await this.$call('frappe.client.get_list', {
				doctype: 'User',
				limit_page_length: 100,
			});
			this.projectTeam = users.map((u) => u.name).filter((u) => u != 'Guest');
		},

		// add a newly created task directly on store - avoid refetches
		addTask(task) {
			const fields = ['name', 'assigned_user', 'description', 'due_date', 'completed'];

			const newTask = {};

			fields.forEach((key) => {
				newTask[key] = task[key];
			});

			newTask.completed = Boolean(task.completed);
			let project = this.$store.projects[this.project_id];
			if (!project) {
				// init if empty
				this.$store.projects[this.project_id] = {};
				project = this.$store.projects[this.project_id];
			}
			project[newTask.name] = newTask;
		},

		updateTask(newData) {
			const { name, ...data } = newData;
			this.$call('frappe.client.set_value', {
				doctype: 'Collaborative Task',
				name,
				fieldname: data,
			});
		},

		updateAllTasks() {
			Object.entries(this.$store.projects[this.project_id]).forEach(([task_name, task]) => {
				this.updateTask(task);
			});
		},
	},
};
</script>
