<template>
    <div class="flex flex-col h-screen">
        <header class="navbar shadow-lg bg-neutral text-neutral-content py-5">
            <router-link to="/" class="flex-none px-2 mx-2">
                <span class="text-lg font-bold"> Collaborative </span>
            </router-link>
            <div class="flex-1 px-2 mx-2">
                <router-link v-if="$auth.isLoggedIn" to="/project" class="btn btn-ghost btn-sm rounded-btn">Projects</router-link>
                <router-link v-if="$auth.isLoggedIn" to="/my-tasks" class="btn btn-ghost btn-sm rounded-btn">My Tasks</router-link>
            </div>
            <div class="flex-none">
                <router-link v-if="$auth.isLoggedIn" to="#" class="btn btn-ghost btn-sm rounded-btn">Hi, {{ $auth.user }}</router-link>
                <a v-if="$auth.isLoggedIn" @click="$auth.logout()" class="btn btn-ghost btn-sm rounded-btn">Logout</a>
                <router-link v-else to="/login" class="btn btn-ghost btn-sm rounded-btn">Login</router-link>
            </div>
        </header>
        <main class="flex-1 overflow-y-auto bg-base-200">
            <router-view />
        </main>
    </div>
</template>


<script>
export default {
	inject: ['$auth']
};
</script>
