<template>
    <form @submit.prevent="login" class="min-h-full bg-base-200 flex justify-center items-center">
        <div class="p-10 bg-white rounded-2xl shadow-xl z-20">
            <h1 class="text-3xl font-bold text-center mb-4">Log In</h1>
            <div class="space-y-3">
                <input type="text" placeholder="Username" v-model="email" class="block text-sm py-3 px-4 rounded-lg w-full border" />
                <input type="password" placeholder="Password" v-model="password" class="block text-sm py-3 px-4 rounded-lg w-full border" />
            </div>
            <div class="text-center mt-6">
                <button type="submit" class="py-3 w-64 text-xl text-white bg-primary rounded-2xl">Log in</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
  data() {
    return {
      email: null,
      password: null,
    };
  },
  inject: ["$auth"],
  async mounted() {
    if (this.$route?.query?.route) {
      this.redirect_route = this.$route.query.route;
      this.$router.replace({ query: null });
    }
  },
  methods: {
    async login() {
      if (this.email && this.password) {
        let res = await this.$auth.login(this.email, this.password);
        if (res) {
          this.$router.push({ name: "Project" });
        }
      }
    },
  },
};
</script>
