<template>
	<a @click="updateAllTasks()" class="btn btn-ghost btn-sm rounded-btn">Save</a>
	<div class="bg-base-200">
		<div v-for="task in myTasks" class="flex w-full p-2 items-center">
			<input type="checkbox" v-model="task.completed" class="checkbox" />
			<div class="divider divider-horizontal"></div>
			<input type="text" v-model="task.description" class="input w-full" />
			<div class="divider divider-horizontal"></div>
			<input type="text" v-model="task.project" disabled class="input w-1/4" />
			<div class="divider divider-horizontal"></div>
			<input type="date" placeholder="Due Date" v-model="task.due_date" class="input w-1/5 max-w-xs" />
		</div>
	</div>
</template>

<script>
export default {
	inject: ['$call', '$auth'],

	mounted() {
		this.fetchTasks();
	},

	data() {
		return {
			projectTeam: [],
			myTasks: [],
		};
	},

	methods: {
		async fetchTasks() {
			const tasks = await this.$call('frappe.client.get_list', {
				doctype: 'Collaborative Task',
				fields: ['name', 'assigned_user', 'description', 'due_date', 'completed', 'project'],
				filters: { assigned_user: this.$auth.user },
				limit_page_length: 1000,
			});
			tasks.forEach((task) => {
				task.completed = Boolean(task.completed);
			});

			this.myTasks = tasks;

			const users = await this.$call('frappe.client.get_list', {
				doctype: 'User',
				limit_page_length: 100,
			});
			this.projectTeam = users.map((u) => u.name).filter((u) => u != 'Guest');
		},

		updateAllTasks() {
			this.myTasks.forEach((task) => {
				const { name, ...data } = task;
				this.$call('frappe.client.set_value', {
					doctype: 'Collaborative Task',
					name,
					fieldname: data,
				});
			});
		},
	},
};
</script>
