<template>
	<div class="drawer drawer-mobile">
		<input id="project-drawer" type="checkbox" class="drawer-toggle" />
		<div class="drawer-content">
			<ProjectView v-if="project_id" :project_id="project_id" />
		</div>
		<div class="drawer-side">
			<label for="project-drawer" class="drawer-overlay"></label>
			<ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
				<li v-for="project in projects">
					<router-link :to="'/project/' + project">{{ project }}</router-link>
				</li>
				<NewProject />
			</ul>
		</div>
	</div>
</template>

<script>
import ProjectView from '../components/ProjectView.vue';
import NewProject from '../components/NewProject.vue';

export default {
	inject: ['$call'],
	props: ['project_id'],
	data() {
		return {
			projects: [],
		};
	},
	components: {
		ProjectView,
		NewProject,
	},

	mounted() {
		this.updateProjectList();
	},

	methods: {
		async updateProjectList() {
			const projects = await this.$call('frappe.client.get_list', {
				doctype: 'Collaborative Project',
				limit_page_length: 100,
				order_by: "modified desc",
			});
			this.projects = projects.map((p) => p.name);
		},
	},
};
</script>
